# Galera Cluster Configuration
# Archivo de referencia - El real se genera vía Ansible

[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="galera_cluster"
wsrep_cluster_address="gcomm://192.168.122.21,192.168.122.22,192.168.122.23"

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="192.168.122.21"
wsrep_node_name="galera1"

# InnoDB Configuration
innodb_buffer_pool_size=256M
innodb_flush_log_at_trx_commit=0
innodb_flush_method=O_DIRECT
innodb_log_file_size=100M

# Logging
log_error=/var/log/mysql/error.log
log_warnings=2
